/flutter
.idea
.vscode
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
__pycache__/
build/
flutter_start/build/
flutter_start/build/ios/
flutter_start/build/ios/Runner.xcworkspace
flutter_start/.dart_tool/
flutter_start/*.iml
flutter_start/.metadata
flutter_start/.flutter-plugins
flutter_start/.flutter-plugins-dependencies
computer-vision/
*.pt
flutter-back/original_images/
*.apk
*.ipa
*.dill
/bfg-*.jar
/flutter_start_clean.bfg-report/
/flutter_start_clean/
pillcare.git/